.inicio {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f1e5df;
}

.navbarcustom {
  background-color: #f1e5df;
  border-bottom: 1px solid #31241e;
}

.navbarcustom .nav-link {
  color: #86654b;
}

.navbarcustom .nav-link.active {
  color: #86654b;
  font-weight: bold;
}

.navbar-brand {
  color: #86654b;
  font-weight: bold;
}

.texto-imagen1 {
  position: absolute;
  top: 60%;
  color: #86654b;
  font-size: 40px;
}

#img1 {
  width: 1200px;
}

#text1 {
  font-size: 20px;
  color: #31241e;
}

#textN {
  color: #31241e;
}

#btn-shop {
  background-color: #af7069;
  color: #ffffff;
  border-radius: 30px;
}

.btn#btn-shop:hover {
  transform: scale(1.05);
  background-color: #af7069;
  box-shadow: 0 0 12px #86654b;
  color: #554130;
  ;
}

html,
body {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

.container,
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

body {
  background-color: #f1e5df !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.card {
  background-color: #ddb1ae;
}

#btn-carrito {
  background-color: #af7069;
  color: #ffffff;
  border-radius: 30px;
  border-color: #af7069;
}

.btn#btn-carrito:hover {
  transform: scale(1.05);
  background-color: #af7069;
  box-shadow: 0 0 12px #86654b;
  color: #554130;
  ;
}

.btn#btnNueva{
  color: #554130;
  outline-style:solid;
  outline-color: #554130;
  border-radius: 30px;
}

.btn#btnNueva:hover{
   transform: scale(1.05);
   outline-color: #af7069;
   color: #af7069;
   box-shadow: 0 0 12px #86654b;
}

.card-body {
  color: #31241e;
}

#titulos {
  color: #86654b;
}

.text-justificy {
  color: #31241e;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.texto-imagen1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.texto-imagen1 h3 {
  font-size: 3rem;
  color: #7a2c2c;
  font-weight: bold;
  text-shadow: 0 3px 10px #ffffff;
}

.nosotras-container {
  margin-top: 30px;
  padding: 20px;
}

